body {
    background-color: black
}

.topnav {
    background-color:black;
    overflow: hidden;
    position:fixed;
    top:0;
    width: 100%;
    /* z-index: -1; */
} 


.topnav a {
    float: left;
    color: #94f887;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #69f556;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #69f556;
    color: black;
} 

h1{
    padding-top: 50px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #69f556;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    
}


h2{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#94F887;
    text-align: center;
    font-weight: bold;
}

h3{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #f88794;
    text-align: center;
}

p{
    margin-bottom: 15px
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5fcf0;
    text-align: center;
}  

img{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.tableauPlaceholder{
    width: 50%;
    height: 50auto;
}


hr{
    style="height:30px; color:chartreuse";
}

/* added by me */
h4 {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ceeeb6;
    text-align: center;
}

h5 {
    font-size: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 20px; */
    color: #f88794;
    /* color: indianred; */
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#boxsheet {
    border-style: solid;
    border-color:#23c26d;
}

.list {
    color: ceeeb6;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.search_txt {
    text-align: left;
    
}

.p21 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.list2 {
    color: ceeeb6;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}