body {
    background-color: black
}

.topnav {
    background-color:black;
    overflow: hidden;
}


.topnav a {
    float: left;
    color: #23c26d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #5e8441;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #9cdc6c;
    color: black;
}

h1{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #9cdc6c;
    text-align: center;
}

h2{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ceeeb6;
    text-align: center;
}

p{
    margin-bottom: 15px
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5fcf0;
    text-align: center;
}  

img{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

#Btn, #Btn-artist{
    color: white;
    background-color:  #9cdc6c;
    border-radius: 8px;
    border-color: black;
}


/* added by me */
h4 {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ceeeb6;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 20px; */
    color: whitesmoke;
    /* text-align: center; */
}

#boxsheet {
    border-style: solid;
    border-color:#23c26d;
}

.list {
    color: ceeeb6;
    text-align: left;

}

.search_txt {
    text-align: left;
    
}


/* .table{
    color: white
} */





/* .navbar-brand{
    font-size: 25px
}

.nav-link{
    font-size: 20px
} */

/* .display-4 {
    text-align: center;
    color:green
    font-weight:bold;
  } */

  /* h1 {
    text-align: center;
    background-color: grey;
    color: red;
  }

  h1 {
    text-align: center;
    background-color: grey;
    color: red;
  } */

