<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Spotify Project</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <!-- <a href="#visuals">Visuals</a> -->
        <!--hyper for presentation call it stats for nerds-->
        <a href="/predictor">Predict</a>
        <a href="/stats">Stats</a>
        <a href="/4nerdz">Model</a>
    </div>
    
    <h1>Time To Get Your Groove On!!</h1>
    <!-- change font-family "use fantasy as example" -->
    <h2>Music = 😀 </h2>
    <!-- make this into a hyperlink -->
    <p>Go to the <a href="/predictor" style="color:#69f556 ;">Predictor</a> page to find you next favorite song</p>
    <img src="/static/images/greencrowdresize.jpg" alt = "Concert Crowd">
    <!-- <p>Photo Credit: Photo by Andrea Piacquadio from Pexels</p> dancing girl -->
    <p style="font-size: 12px">Photo by George Webster from Pexels</p> <!--green crowd--> 
    <p>Music and prediction brought to you by Spotify and headbanging parrots</p>
</body>
</html>