<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Spotify Project</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#visuals">Visuals</a>
        <a href="/predictor">Predictor</a>
        <a href="/stats">Stats</a>
    </div>  
    
    <h1>What do we want this to say?</h1>
    <h2>Do we need this?</h2>
    <p>Here is where we give an overview of what the site is about</p>
    <img src="/static/images/greencrowdresize.jpg" alt = "Concert Crowd">
    <!-- <p>Photo Credit: Photo by Andrea Piacquadio from Pexels</p> dancing girl -->
    <p style="font-size: 12px">Photo by George Webster from Pexels</p> <!--green crowd--> 
    
</body>
</html>